@model Schooldb_assign3.Models.teachers
<!-- here we don't want multiple teachers-->

@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher Details</h2>
<a href="/Teacher/deleteconfirm/@Model.teacherid">Delete Teacher</a>

<div>First Name : @Model.teacherfname</div>
<div>Last Name : @Model.teacherlname</div>
<div>Teacher ID : @Model.teacherid</div>
<div>Teacher Salary: @Model.salary</div>
<div>Teacher Hire Date: @Model.hiredate</div>



